.vscode
# ROS 2 workspace directories
build/
install/
log/

# CMake / Colcon artifacts
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
.colcon_build
.colcon_install

# Compiled Object files, Static and Dynamic libs
*.o
*.a
*.so
*.dylib
*.dll

# IDEs and editors
.vscode/
.idea/
*.swp
*~

# Calibration Data (Uncomment if you want to ignore large data files)
# data/lidar/*.db3
# data/pcdFiles/*.pcd

*/build/